/* Todos os elementos da página nos estados das pseudoclasses "before" e "after"*/
*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
    font-weight: 500;
}
/* Estilo do corpo da página */
body{
    margin-top: 2rem;
    height: 100vh;
    background: linear-gradient(to right, #68EACC 0%, #497BE8 100%);
}
/* Estilização do "container" */
.container{
    background-color: #ffffff;
    width: 60%;
    min-width: 420px;
    padding: 35px 50px;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    border-radius: 20px;
    box-shadow: 20px 30px 25px rgba(0,0,0,0.15);
}

/* Estilização dos elementos <h1> */
h1{
    font-size: 30px;
    text-align: center;
    color: #000;
}

/* Estilização dos elementos <h2> */
h2{
    position: relative;
    margin: auto;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 14px;
    font-weight: 400;
}

/* Estilização da tag <form> */
form{
    width: 100%;
    position: relative;
    margin: 30px auto 0 auto;
}

/* Estilização da tag <row> */
.row{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    grid-gap: 20px 30px;
    margin-bottom: 20px;
}
/* Estilização dos elementos da tag <label> */
label{
    color: #000;
    font-size: 1rem;
}

/*Estilização dos elementos de tags <textarea>, <input> e <Select>*/
textarea,
input, select{
    width: 100%;
    font-weight: 400;
    padding: 8px 10px;
    border-radius: 5px;
    border: 1.2px solid #c4cae0;
    margin-top: 5px;
}

/*Estilização das options <dia>, <mes> e <ano>*/
#dia, #mes, #ano{   
    width: 30%;
    font-weight: 500;
    padding: 10px 1rem;
}
/* Estilização da class .padd */
.padd{
    padding-top: 20px;
}

/* Estilização dos elementos que possuem a tag <textarea> */
textarea{
    resize: none;
}

/* Estilização dos elementos <h3> */
h3{
    padding-bottom: 10px;
}

/* Estilização dos parágrafos do campo de hobbies que possuí a classe .opcoes */
.opcoes p{
    display:flex;
    flex-grow: 1;
    flex-direction: row;
    width: 120px;
}

/* Todos os elementos textarea e input da página no estado da pseudoclasse "focus"*/
textarea:focus,
input:focus{
    outline: none;
    border-color: #6f6df4;
}

/* Estilização da classe .input_b (botões de enviar e resetar) */
.input_b{
    display: flex;
    padding: 10px 10px;
    border-radius: 3px;
    font-size: 1.25rem;
}

/* Estilização do id #sub (botão de enviar/submit) */
#sub{
    margin-right: 10px;
    background-color: rgb(82, 173, 21);
}

/* Estilização do id #res (botão de resetar) */
#res{
    margin-left: 10px;
    background-color: rgb(175, 20, 41);
}

/* Estilização do id #sub (botão de enviar/submit) no estado da pseudoclasse "hover"*/
#sub:hover{
    box-shadow:  3px 3px 5px rgba(0,0,0,0.5);
    border-bottom: 3px solid rgb(43, 87, 13);
    border-right: 3px solid rgb(43, 87, 13);  
}

/* Estilização do id #res (botão de resetar) no estado da pseudoclasse "hover"*/
#res:hover{
    box-shadow:  3px 3px 5px rgba(0,0,0,0.5);
    border-bottom: 3px solid rgb(90, 10, 21);
    border-right: 3px solid rgb(90, 10, 21);
}
